@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Poppins;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: Poppins;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: Poppins;
  font-weight: Poppins;
}

/*--------------------*/
body {
  background-image: url(/img/Background.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  max-width: 1173px;
  margin: 0 auto;
}

.navbar {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  padding-top: 48px;
}
.navbar .nav_menu {
  max-width: 675px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  line-height: 37px;
}
.navbar .nav_menu li {
  margin-left: 45px;
}
.navbar .nav_menu li a {
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
  text-decoration: none;
  color: black;
}
.navbar .nav_menu button {
  background-color: #608AF5;
  border-radius: 10px;
  padding: 10px 18px 10px 18px;
  color: #fff;
  border: none;
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;
}
.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .logo .logo_img {
  display: block;
}

.common_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
}
.common_container .text_container {
  margin-right: 86px;
}
.common_container .text_container .text_common {
  max-width: 580px;
  font-size: 35px;
  line-height: 52px;
  letter-spacing: 5px;
  color: #002265;
  margin-bottom: 32px;
}
.common_container .text_container .text_common span {
  font-weight: 600;
}
.common_container .text_container .text_front-end {
  margin-right: 66px;
  max-width: 600px;
  font-size: 23px;
  line-height: 34px;
  color: #082032;
}

.section_develop {
  padding-bottom: 171px;
}
.section_develop .additiomal_passions_test {
  margin-top: 118px;
  margin-bottom: 60px;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.055em;
  color: #14279B;
}
.section_develop .additiomal_passions_test span {
  font-weight: 600;
}
.section_develop .additional_passions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section_develop .additional_passions .block_develop {
  max-width: 347px;
  max-height: 280px;
  margin-left: 50px;
  -webkit-box-shadow: 0px 5px 26px 5px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 5px 26px 5px rgba(0, 0, 0, 0.17);
  border-radius: 13px;
  background-color: white;
}
.section_develop .additional_passions .block_develop .block_develop_img {
  margin-top: 20px;
  margin-right: 61px;
  margin-left: 61px;
}
.section_develop .additional_passions .block_develop .block_develop_text {
  margin-top: 22.5px;
  text-align: center;
}
.section_develop .additional_passions .block_develop .block_develop_text .title {
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 0.055em;
}
.section_develop .additional_passions .block_develop .block_develop_text .title span {
  font-weight: 600;
}
.section_develop .additional_passions .block_develop .block_develop_text .information {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.055em;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }

  .additional_passions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .block_develop {
    margin-bottom: 30px;
  }

  .common_container {
    -ms-flex-wrap: reverse;
        flex-wrap: reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .common_container .text_container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .common_container .text_container .text_common {
    line-height: 37px;
    letter-spacing: 0.005em;
    color: #172774;
    margin-top: 21px;
    margin-left: 27px;
  }
  .common_container .text_container .text_front-end {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.015em;
    margin-left: 27px;
    color: #082032;
  }
  .common_container img {
    width: 290px;
    height: 260px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 840px;
  }

  .navbar .logo {
    margin-left: 30px;
  }

  .additional_passions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .block_develop {
    margin-bottom: 30px;
  }

  .common_container {
    -ms-flex-wrap: reverse;
        flex-wrap: reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .common_container .text_container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .common_container .text_container .text_common {
    line-height: 37px;
    letter-spacing: 0.005em;
    color: #172774;
    margin-top: 21px;
    margin-left: 27px;
  }
  .common_container .text_container .text_front-end {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.015em;
    margin-left: 27px;
    color: #082032;
  }
  .common_container img {
    width: 290px;
    height: 260px;
  }
}
@media (max-width: 900px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    padding: 150px 0px 20px 0px;
    -webkit-transform: translate3d(0px, -100%, 0px);
            transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
  }
  .menu__body .nav_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .menu__body .nav_menu .nav_btn {
    margin-top: 20px;
    background: #002265;
    border-radius: 10px;
  }

  .menu__body.active {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }

  .nav_menu li {
    padding: 0 0 45px 0;
  }

  .nav_menu li:nth-child(1), .nav_menu li:nth-child(2), .nav_menu li:nth-child(3) {
    border-bottom: 4px solid #608AF5;
    width: 81px;
    height: 4px;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px;
  }

  .nav_menu li:nth-child(2):after, .nav_menu li:nth-child(3):after {
    display: block;
  }

  .nav_menu li:last-child {
    padding: 0;
  }

  .nav_menu li:after {
    width: 4px;
    height: 4px;
    background-color: #fff;
    right: 50%;
    top: 40px;
    margin: 0px -2px 0px 0px;
  }

  .navbar .nav_menu li a {
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.055em;
    color: #608AF5;
  }
}
@media (max-width: 900px) {
  .icon-menu {
    margin-top: 10px;
    display: block;
    position: fixed;
    top: 10px;
    right: 30px;
    width: 25px;
    height: 19px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #000000;
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }
}
@media (max-width: 800px) {
  .container {
    max-width: 650px;
  }

  .navbar .logo {
    margin-left: 30px;
  }

  .section_develop .additional_passions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    margin-left: -50px;
  }

  .common_container {
    -ms-flex-wrap: reverse;
        flex-wrap: reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .common_container .text_container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .common_container .text_container .text_common {
    line-height: 37px;
    letter-spacing: 0.005em;
    color: #172774;
    margin-top: 21px;
    margin-left: 27px;
  }
  .common_container .text_container .text_front-end {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.015em;
    margin-left: 27px;
    color: #082032;
  }
  .common_container img {
    width: 290px;
    height: 260px;
  }
}
@media (max-width: 800px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0px 20px 0px;
    -webkit-transform: translate3d(0px, -100%, 0px);
            transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
  }
  .menu__body .nav_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__body .nav_menu .nav_btn {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #002265;
    border-radius: 10px;
  }

  .menu__body.active {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }

  .nav_menu li {
    padding: 0 0 45px 0;
  }

  .nav_menu li:nth-child(1), .nav_menu li:nth-child(2), .nav_menu li:nth-child(3) {
    border-bottom: 4px solid #608AF5;
    width: 81px;
    height: 4px;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px;
  }

  .nav_menu li:nth-child(2):after, .nav_menu li:nth-child(3):after {
    display: block;
  }

  .nav_menu li:last-child {
    padding: 0;
  }

  .nav_menu li:after {
    width: 4px;
    height: 4px;
    background-color: #fff;
    right: 50%;
    top: 40px;
    margin: 0px -2px 0px 0px;
  }

  .navbar .nav_menu li a {
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.055em;
    color: #608AF5;
  }
}
@media (max-width: 800px) {
  .icon-menu {
    margin-top: 10px;
    display: block;
    position: fixed;
    top: 10px;
    right: 30px;
    width: 25px;
    height: 19px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #000000;
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 428px;
  }

  .navbar .logo {
    margin-left: 30px;
  }

  .additional_passions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .block_develop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }

  .common_container {
    -ms-flex-wrap: reverse;
        flex-wrap: reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .common_container .text_container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .common_container .text_container .text_common {
    margin-top: 21px;
    margin-left: 27px;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.005em;
    color: #172774;
  }
  .common_container .text_container .text_front-end {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.015em;
    margin-right: 27px;
    color: #082032;
    width: 374px;
    height: 60px;
  }
  .common_container img {
    width: 290px;
    height: 260px;
  }
}
@media (max-width: 500px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0px 20px 0px;
    -webkit-transform: translate3d(0px, -100%, 0px);
            transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
  }
  .menu__body .nav_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__body .nav_menu .nav_btn {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #002265;
    border-radius: 10px;
  }

  .menu__body.active {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }

  .nav_menu li {
    padding: 0 0 45px 0;
  }

  .nav_menu li:nth-child(1), .nav_menu li:nth-child(2), .nav_menu li:nth-child(3) {
    border-bottom: 4px solid #608AF5;
    width: 81px;
    height: 4px;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px;
  }

  .nav_menu li:nth-child(2):after, .nav_menu li:nth-child(3):after {
    display: block;
  }

  .nav_menu li:last-child {
    padding: 0;
  }

  .nav_menu li:after {
    width: 4px;
    height: 4px;
    background-color: #fff;
    right: 50%;
    top: 40px;
    margin: 0px -2px 0px 0px;
  }

  .navbar .nav_menu li a {
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.055em;
    color: #608AF5;
  }
}
@media (max-width: 500px) {
  .icon-menu {
    margin-top: 10px;
    display: block;
    position: fixed;
    top: 10px;
    right: 30px;
    width: 25px;
    height: 19px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #000000;
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }
}